name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        toolchain: [stable]


    steps:
    - uses: actions/checkout@v6

    - name: Update rust
      run: |
        rustup update
        rustup component add --toolchain nightly rustfmt
    
    - name: Install linux deps
      run: |
        sudo apt update
        sudo apt install -y --no-install-recommends libasound2-dev pkg-config
      if: contains(matrix.os, 'ubuntu')
      
    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: | 
        cargo test --verbose --bins --lib
        cargo test --verbose --doc

    - name: Check formatting
      run: cargo +nightly fmt --all --check

    - name: Run Clippy
      run: cargo clippy --all-targets --all-features
