name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        toolchain: [stable]


    steps:
    - uses: actions/checkout@v6

    - name: Update rust
      run: |
        rustup update
        rustup component add --toolchain nightly rustfmt
        # cargo-hack is used to do things like test all combinations of features without hardcoding.
        # https://github.com/taiki-e/cargo-hack
        cargo +stable install cargo-hack --locked
    
    - name: Install linux deps
      run: |
        sudo apt update
        sudo apt install -y --no-install-recommends libasound2-dev pkg-config
      if: contains(matrix.os, 'ubuntu')
      
    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: | 
        # Test all workspace members individually to avoid feature unification
        # However, we don't want to run the ytmapi-rs live integration tests,
        # So it is excluded from the automation and then manually included with
        # integration tests disabled.
        cargo hack test --workspace --exclude ytmapi-rs --verbose
        cargo test --verbose -p ytmapi-rs --lib
        cargo test --verbose -p ytmapi-rs --doc

    - name: Check formatting
      run: cargo +nightly fmt --all --check

    - name: Run Clippy
      run: cargo clippy --all-targets --all-features
